:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.8);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  padding: 0 0.5rem;

  & section {
    width: calc(100% / 3);
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 0;

    & section {
      width: 100%;
    }
  }
}